@import "mixin";

header {
  padding: rem(16) 0;
  border-bottom: rem(1) solid #ffffff33;
  height: rem(110);
  position: relative;
  z-index: 999;
  @media (max-width: rem(992)) {
    height: rem(90);
  }
  .header-top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 rem(8) 0;
    @media (max-width: rem(992)) {
      display: none;
    }
    .top-contacts {
      display: flex;
      align-items: center;
      gap: rem(32);
      a {
        display: flex;
        align-items: flex-start;
        gap: rem(8);
        font-size: rem(16);
        font-weight: 300;
        line-height: 1.2;
        text-align: left;
        color: #21282b;

        svg {
          margin-top: -rem(3);
          width: rem(24);
        }
        > span {
          width: calc(100% - rem(24));
        }
      }
    }
    .soc {
      display: flex;
      align-items: center;
      gap: rem(16);
      justify-content: flex-end;
    }
  }

  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > a {
      display: flex;
    }

    nav {
      display: flex;
      gap: rem(30);
      @media (max-width: rem(992)) {
        display: none;
      }
      > div {
        position: relative;

        .submenu {
          display: none;
          flex-direction: column;
          position: absolute;
          z-index: 99999;
          background: #fff;
          white-space: nowrap;
          padding: rem(20) rem(20);
          gap: rem(8);
          border-radius: rem(10);
          top: calc(100% + rem(10));
          box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.05);
          &.opened {
            display: flex;
          }
        }
      }
      a {
        color: #21282b;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        &:hover {
          color: #ee342a;
        }
        &.with-sub-menu {
          display: flex;
          align-items: center;
          gap: rem(4);
        }
      }
    }

    .bordered-button {
      @media (max-width: rem(992)) {
        display: none;
      }
    }

    .menu-btn {
      cursor: pointer;
      display: none;
      @media (max-width: rem(992)) {
        display: flex;
      }
    }
  }
}

.menu-wrap {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: rem(120);
  transition: all 0.5s;
  left: 0;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(rem(10));
  @media (max-width: rem(992)) {
    padding-top: rem(100);
  }
  &.opened {
    left: 0;
    opacity: 1;
    pointer-events: all;
  }
  nav {
    display: flex;
    gap: rem(30);
    flex-direction: column;
    margin-bottom: rem(32);
    > div {
      position: relative;

      .submenu {
        display: none;
        flex-direction: column;
        position: relative;
        z-index: 99999;
        background: #fff;
        white-space: nowrap;
        padding: rem(20) rem(0);
        gap: rem(8);
        &.opened {
          display: flex;
        }
        a {
          font-size: rem(18);
        }
      }
    }
    a {
      color: #21282b;
      font-size: rem(36);
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      &:hover {
        color: #eb6418;
      }
      &.with-sub-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .account {
    border: rem(1) solid #ffffff;
    border-radius: rem(8);
    height: rem(40);
    padding: 0 rem(24);
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: rem(8);
    width: 100%;
    &:hover {
      border-color: #ff8744;
      background: #ff8744;
    }
    a {
      color: #fff;
    }
  }
}
