@import "mixin";

.home-hero {
  margin-bottom: rem(100);
  @media (max-width: rem(992)) {
    margin-bottom: rem(80);
  }
  &__body {
    display: flex;
    gap: rem(16);
    align-items: stretch;
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    .col-01 {
      padding: rem(90);
      background: #fff;
      border-radius: rem(16);
      width: calc(75% - rem(8));
      position: relative;
      @media (max-width: rem(992)) {
        width: 100%;
        padding: rem(48) rem(24) rem(24) rem(24);
      }

      .marquee {
        width: 100%;
        position: absolute;
        bottom: rem(60);
        left: 0;
        overflow: hidden;
        box-sizing: border-box;
        @media (max-width: rem(992)) {
          display: none;
        }
        .track {
          display: flex;
          align-items: center;
          gap: rem(10);
          width: rem(1836);
          .text {
            font-size: rem(36);
            font-weight: 400;
            line-height: 1.2;
            text-align: center;
            color: #bebebe;
            max-width: unset;
          }
          .circle {
            width: rem(6);
            height: rem(6);
            border-radius: 50%;
            background: #bebebe;
            display: block;
          }
        }
      }
    }
    .col-02 {
      width: calc(25% - rem(8));
      height: rem(620);
      position: relative;
      border-radius: rem(16);
      overflow: hidden;
      @media (max-width: rem(992)) {
        width: 100%;
        height: rem(240);
        img {
          height: auto !important;
          top: 50% !important;
          transform: translateY(-50%);
        }
      }
    }
  }

  h2 {
    font-size: rem(16);
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 rem(5) 0;
    color: #ee342a;
    @media (max-width: rem(992)) {
    }
  }
  h1 {
    color: #21282b;
    font-size: rem(64);
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 rem(64) 0;
    @media (max-width: rem(992)) {
      font-size: rem(32);
      br {
        display: none;
      }
    }
  }
  .buttons-wrap {
    display: flex;
    gap: rem(30);
    @media (max-width: rem(992)) {
      gap: rem(16);
    }
  }
}

.home-solutions {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(80) 0;
  }

  &.insights {
    .home-solutions__body {
      .solution-top {
        align-items: flex-end;
        @media (max-width: rem(992)) {
          align-items: flex-start;
        }
        > div {
          &:first-child {
            width: calc(100% - rem(100));
          }
        }
        p {
          margin: rem(8) 0 0 0;
          color: #878787;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
      }
    }
  }

  &.partners {
    @media (max-width: rem(992)) {
      .slick-slider {
        .slick-list {
          padding: 0 20% 0 0 !important;
          margin: 0 - rem(8);
          .slick-track {
            .slick-slide {
              padding: 0 rem(8);
            }
          }
        }
      }
    }

    .home-solutions__body {
      .solution-top {
        align-items: flex-end;
        @media (max-width: rem(992)) {
          align-items: flex-start;
        }
        > div {
          &:first-child {
            width: calc(100% - rem(100));
          }
        }
        p {
          margin: rem(8) 0 0 0;
          color: #878787;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
      }
    }
  }

  &__body {
    .solution-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(32);
      h2 {
        color: #21282b;
        font-size: rem(40);
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        margin: 0;
        @media (max-width: rem(992)) {
          font-size: rem(32);
        }
      }
      .arrows {
        display: flex;
        gap: rem(16);
      }
    }

    .slick-slider {
      .slick-arrow {
        display: none !important;
      }
      .slick-list {
        margin: 0 -8px;
        @media (max-width: rem(992)) {
          margin: 0;
        }
        .slick-track {
          display: flex !important;
          .slick-slide {
            padding: 0 rem(8) rem(20) rem(8);
            padding: 0 rem(8);
            height: inherit !important;
            @media (max-width: rem(992)) {
              padding: 0 0 rem(20) 0;
              padding: 0;
            }
            &:hover {
              > div {
                > div {
                  background: #21282b;
                  box-shadow: 0px 6.65px 5.32px 0px #00000007;
                  a {
                    opacity: 1;
                    pointer-events: all;
                  }
                  h3 {
                    color: #fff;
                  }
                  p {
                    color: #878787;
                  }
                }
              }
            }
            > div {
              height: 100% !important;
              > div {
                overflow: hidden;
                height: 100% !important;
                background: #ffffff;
                padding: rem(32);
                border-radius: rem(16);
                display: flex !important;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                @media (max-width: rem(992)) {
                  background: #21282b;
                }
                a {
                  opacity: 0;
                  pointer-events: none;
                  @media (max-width: rem(992)) {
                    opacity: 1;
                    pointer-events: all;
                    position: relative !important;
                    left: unset !important;
                    transform: unset !important;
                    bottom: unset !important;
                    margin-top: rem(40);
                  }
                }
                > img {
                  margin-bottom: rem(32);
                }
                .number {
                  color: #ee342a;
                  font-size: rem(16);
                  font-weight: 700;
                  line-height: 1;
                }
                h3 {
                  color: #21282b;
                  font-size: rem(24);
                  font-weight: 500;
                  line-height: 1.2;
                  text-align: left;
                  margin: rem(16) 0 rem(8) 0;
                  @media (max-width: rem(992)) {
                    color: #fff;
                  }
                }
                p {
                  color: #878787;
                  font-size: rem(16);
                  font-weight: 400;
                  line-height: 1.2;
                  text-align: left;
                  margin: 0;
                  @media (max-width: rem(992)) {
                    color: #878787;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.more-insights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ee342a1a;
  margin-top: rem(16);
  padding: rem(32);
  border: 1px solid #ee342a;
  border-radius: rem(16);
  @media (max-width: rem(992)) {
    flex-direction: column;
    align-items: center;
    gap:rem(40);
  }
  h3 {
    margin: 0;
    color: #ee342a;
    font-size: rem(24);
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    @media (max-width: rem(992)) {
      text-align: center;
    }
  }
  .red-button{
    width: rem(200);
    justify-content: space-between;
  }
}

.home-approach {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(80) 0;
  }
  &__body {
    display: flex;
    gap: rem(16);
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    .col-01 {
      width: calc(50% - 8px);
      border-radius: rem(16);
      background-image: url(/images/home/approachBack.png);
      @media (max-width: rem(992)) {
        width: 100%;
        background: unset;
        display: flex;
        flex-direction: column;
        gap: rem(16);
      }
      img {
        display: none;
        @media (max-width: rem(992)) {
          width: 100% !important;
          display: block;
        }
      }
      > div {
        padding: rem(40);
        border-radius: rem(16);
        background: #21282b;
        width: rem(464);
        height: rem(266);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: rem(992)) {
          padding: rem(24);
          width: auto;
          height: auto;
        }
        h2 {
          color: #ffffff;
          font-size: rem(40);
          font-weight: 500;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 rem(6) 0;
          @media (max-width: rem(992)) {
            font-size: rem(32);
          }
        }
        p {
          color: #878787;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 rem(48) 0;
        }
      }
    }
    .col-02 {
      width: calc(50% - 8px);
      display: flex;
      flex-direction: column;
      gap: rem(16);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      > div {
        display: flex;
        gap: rem(24);
        padding: rem(40);
        border-radius: rem(16);
        background-color: #ffffff;
        @media (max-width: rem(992)) {
          padding: rem(24);
        }
        img {
          width: rem(64);
        }
        > div {
          width: calc(100% - rem(88));
          h3 {
            color: #21282b;
            font-size: rem(24);
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
            margin: 0 0 rem(8) 0;
          }
          p {
            color: #878787;
            font-size: rem(16);
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            margin: 0;
          }
        }
      }
    }
  }
}
